.row{
  display: flex;
  margin-left: 75px;
  margin-top: 40px;
}
.image{
  margin-bottom: 5px;
}
.image img{
  height: 280px;
  width: 280px;
  border-radius: 0px;
  object-fit: cover;
  margin-top: 10px;

}



.info h3{
  margin-bottom: 0;
}
.info-price{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.price{
  font-weight: 650;
  font-size: 18px;
}
.col-md-3{
  margin-right: 90px;
  background-size: cover;
  transition: transform 0.5s;
}
.col-md-3:hover {
  transform: scale(1.15);
}
