ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 2500px;
}

.cards-list {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.card__link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card__link {
  transition: transform 200ms;
}
.card__link:hover {
  transform: translate(-5px, -5px) scale(1.02);
  
}
.card__image-inner {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  min-width: 200px;

}
.card__image{
  width: 100%;
  border-radius: 0px;
  object-fit: cover;
  margin-top: 10px;
}

.card__info-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}